{% extends 'base.html.twig' %}
{% block title %}Inicio{% endblock %}
{% block stylesheets %}
 {{ parent() }}
<link href="{{ asset('css/stylesheetInicio.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block contenido %}
<div class="container">
    <div class="main-content">
        <h2>Últimos Posts</h2>
        <div class="posts-list">
            {% if posts is defined and posts|length > 0 %}
                {% for post in posts %}
                    <div class="post">
                        <p>{{ post.contenido }}</p>
                        <small>
                            Por {{ post.usuario.nombre }} {{ post.usuario.apellido }} 
                            el {{ post.fecha_publicacion|date("d/m/Y") }} a las {{ post.fecha_publicacion|date("H:i") }}
                        </small>
                        <br>
                        {% if post.getFotoPost() %}
                            <div class="post-photo">
                                <img src="{{ asset('uploads/foto_post/' ~ post.getFotoPost().getUrlImagen()) }}" alt="Foto del post">
                            </div>
                        {% endif %}
                        <a href="{{ path('ver_post', { id: post.id }) }}">Ver más</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No hay posts disponibles en este momento.</p>
            {% endif %}
        </div>
    </div>
    {% include 'usuarios.html.twig' %}
</div>
{% endblock %}
