{% extends 'base.html.twig' %}

{% block title %}Perfil de {{ usuario.nombre ~ ' ' ~ usuario.apellido}}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/stylesheetPerfilOtro.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block contenido %}
    <h1>{{ usuario.nombre|capitalize }} {{ usuario.apellido|capitalize }}</h1>
    <div class="posts-list">
        {% for post in posts %}
        <div class="post">
            <p>{{ post.contenido }}</p>
            <small>
                Publicado el {{ post.fecha_publicacion|date("d/m/Y") }} a las {{ post.fecha_publicacion|date("H:i") }} - Comentarios: {{ post.comentarios|length }}

            </small>
            <br>
            <a href="{{ path('ver_post', { id: post.id }) }}">Ver más</a> {# Enlace al detalle del post #}
        </div>
        {% endfor %}
    </div>
{% endblock %}