{% extends 'base.html.twig' %}
{% block title %}Perfil de {{ usuario.nombre ~ ' ' ~ usuario.apellido}}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/stylesheetPerfilOtro.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block contenido %}
<div class="profile-container">
{% if amistad and amistad.estado == 'aceptado' %}
<div class="profile-info">
    <h3>Perfil de {{ usuario.nombre|capitalize }} {{ usuario.apellido|capitalize }}</h3>
    <div class="eliminar-amigo">
        <button class="btn-eliminar-amigo" onclick="abrirModal()">Eliminar amigo</button>
    </div>
    <!-- Mostrar la foto de perfil -->
    <img src="{{ asset(fotoPerfil ? asset('uploads/fotos_perfil/' ~ fotoPerfil) :asset('')) }}" alt="Foto de perfil" class="profile-avatar">
        <div class="profile-details">
        <div class="profile-item">
            <strong>Email:</strong>
            <span>{{ usuario.email }}</span>
        </div>
        <div class="profile-item">
            <strong>Registrado:</strong>
            <span>{{ usuario.fecha_registro|date('d/m/Y') }}</span>
        </div>
        <div class="profile-item">
            <strong>Fecha de Nacimiento:</strong>
            <span>{{ usuario.fechaNacimiento|date('d/m/Y') }}</span>
        </div>
        <div class="profile-item">
            <strong>Biografía:</strong>
            <span>{{ usuario.biografia }}</span>
        </div>
        <div class="profile-item">
            <strong>Localidad:</strong>
            <span>{{ usuario.localidad }}</span>
        </div>
    </div>
</div>
<div class="posts-list">
    {% for post in posts %}
    <div class="post">
        <p>{{ post.contenido }}</p>
        <small>
            Publicado el {{ post.fecha_publicacion|date("d/m/Y") }} a las {{ post.fecha_publicacion|date("H:i") }} - Comentarios: {{ post.comentarios|length }}
        </small>
        {% if post.getFotoPost %}
        <!-- Mostrar la imagen del post -->
        <img src="{{ asset('uploads/foto_post/' ~ post.getFotoPost().getUrlImagen()) }}" alt="Foto del post" class="post-img">
        {% endif %}
        {# Enlace al detalle del post #}
        <a href="{{ path('ver_post', { id: post.id }) }}">Ver más</a> 
    </div>
    {% endfor %}
</div>        
    <!-- Modal de confirmación -->
    <div id="modal-confirmacion" class="modal" display = 'none'>
        <div class="modal-contenido">
            <p>¿Estás seguro de que quieres eliminar a este amigo?</p>
            <form action="{{ path('eliminar_amigo', {'id': usuario.id}) }}" method="post">
                <button type="submit" class="btn-confirmar">Confirmar</button>
                <button type="button" class="btn-cancelar" onclick="cerrarModal()">Cancelar</button>
            </form>
        </div>
    </div>
    {% elseif amistad and amistad.estado == 'pendiente' %}
        <div class="solicitud-amistad">
            <p>Tienes una solicitud de amistad pendiente con este usuario.</p>
            {% if enviado_para_actual %}
                <button onclick="gestionarSolicitudAmistad({{ usuario.id }}, 'aceptar')">Aceptar</button>
                <button onclick="gestionarSolicitudAmistad({{ usuario.id }}, 'rechazar')">Rechazar</button>
            {% endif %}
        </div>
    {% else %}
        <div class="solicitud-amistad">
            <p>No tienes acceso al perfil completo de este usuario.</p>
            <button onclick="enviarSolicitudAmistad({{ usuario.id }})">Enviar solicitud de amistad</button>
        </div>
{% endif %}
    </div>
    <div id="mensaje-solicitud" style="display: none;"></div>

</div>
{% endblock %}
{% block javascripts %}
    <script>
          function gestionarSolicitudAmistad(usuarioAmigo, accion) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                var respuesta = JSON.parse(this.responseText);
                var mensajeDiv = document.getElementById("mensaje-solicitud");
                mensajeDiv.innerHTML = respuesta.message;
                mensajeDiv.style.display = "block"; 
                }
            };
            xhttp.open("POST", "/gestionar-solicitud-amistad", true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            xhttp.send(JSON.stringify({ 
                usuarioAmigo: usuarioAmigo,
                accion: accion 
            }));
        }

        function enviarSolicitudAmistad(idUsuario) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var respuesta = JSON.parse(this.responseText);
                var mensajeDiv = document.getElementById("mensaje-solicitud");
                mensajeDiv.innerHTML = respuesta.message;
                mensajeDiv.style.display = "block";
            }
        };
        xhttp.open("POST", "/solicitud-amistad/" + idUsuario, true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        xhttp.send();
        return false;
    }

        function abrirModal() {
            document.getElementById('modal-confirmacion').style.display = 'block';
        }

        function cerrarModal() {
            document.getElementById('modal-confirmacion').style.display = 'none';
        }
    </script>
{% endblock %}

