<<<<<<< Updated upstream
{% block stylesheets %}
    <link href="{{ asset('css/stylesheetUsuarios.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block contenido %}
<div class="container">
    <div class="sidebar">
        <div class="header-container">
            <h3 class="usuarios-header">Usuarios</h3>
        </div>
        <div class="usuarios-container">
            {% for usuario in usuarios %}
                <div class="usuario-item">
                    <a href="{{ path('ver_perfil', { 'id': usuario.id }) }}">
                        {{ usuario.nombre|capitalize }} {{ usuario.apellido|capitalize }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
=======
{% extends 'base.html.twig' %}

{% block title %}Lista de Usuarios{% endblock %}

{% block contenido %}
    <h1>Lista de Usuarios</h1>
    <ul>
        {% for usuario in usuarios %}
            <li>
                <a href="{{ path('ver_perfil', { 'id': usuario.id }) }}">
                    {{ usuario.nombre }} {{ usuario.apellido }}
                </a>
            </li>
        {% endfor %}
    </ul>
>>>>>>> Stashed changes
{% endblock %}
